<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Search in collection" ng-model="searchText">

        </div>
    </div>
</form>

<table class="table table-hover table-bordered table-striped rounded table-sm">
    <thead>
        <tr>
            <th>Couverture</th>
            <th>
                <a href="#" ng-click="sortType = 'nom'; sortReverse = !sortReverse">Série
                    <span ng-show="sortType == 'nom' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'nom' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'editeur'; sortReverse = !sortReverse">Editeur
                    <span ng-show="sortType == 'editeur' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'editeur' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'listManquante.length'; sortReverse = !sortReverse">Fini ?
                    <span ng-show="sortType == 'listManquante.length' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'listManquante.length' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
        </tr>
    </thead>

    <tbody  ng-repeat="serie in collection.listeSerie | orderBy:sortType:sortReverse | filter:searchText">
        <tr ng-click="toggleDetail($index)" class="main-row">
            <td>
                <img ng-src={{getCouvUrl(serie.imageUrl)}} class="couverture" onclick="displayPoP(this.src)"/>
            </td>
            <td>{{ serie.nom }}</td>
            <td>{{ serie.editeur }}</td>
            <td title="img titre" class="text-center">
                <img ng-src="{{serie.listManquante.length==0?'img/check.png':'img/cross.png'}}" width="30px"/>
            </td>
        </tr>
        <tr class="extra-row" ng-show="activePosition == $index">
            <td></td>
            <td>
                <table class="table table-hover table-bordered table-striped rounded">
                    <tbody ng-repeat="bd in serie.listPossede" >
                        <td class="success">{{bd.numero}}</td>
                        <td class="success">{{bd.titre}}</td>
                        <td class="success"><a href="{{'https://www.isbns.fm/isbn/' + bd.isbn }}"><i>{{bd.isbn}}</i></a></td>
                        <td>
                            <img ng-src={{getCouvUrl(bd.couvertureUrl)}} class="couverture" onclick="displayPoP(this.src)" align="right"/>
                        </td>
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-hover table-bordered table-striped rounded">
                    <tbody ng-repeat="bd in serie.listManquante">
                        <td class="danger">{{bd.numero}}</td>
                        <td class="danger">{{bd.titre}}</td>
                        <td class="danger"><i>{{bd.isbn}}</i></td>
                        <td>
                            <img ng-src={{getCouvUrl(bd.couvertureUrl)}} class="couverture" onclick="displayPoP(this.src)"/>
                        </td>
                    </tbody>
                </table>
            </td>
            <td></td>
        </tr>

    </tbody>
</table>